html {
	font-family: sans-serif;
}
.home {
	text-align: center;
}

.captchalogue {

}

.portal {
	text-align: center;
}

.portal .homebrew a:link {
	background-color: black;
	color: #40FF50;
	text-decoration: none;
	font-size: 20px;
}

.portal .homebrew a:hover {
	background-color: black;
	color: #40FF50;
	text-decoration: none;
	font-size: 20px;
}

.portal .homebrew a:visited {
	background-color: black;
	color: #40FF50;
	text-decoration: none;
	font-size: 20px;
}

.portal .homebrew a:active {
	background-color: black;
	color: #40FF50;
	text-decoration: none;
	font-size: 20px;
}
